* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.game {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.title,
.text {
  text-align: center;
  margin: 10px;
}

.title {
  font-size: 35px;
  color: #127439;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.text {
  font-size: 20px;
  color: #095327;
}

.text a {
  color: #095327;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #e1f7b5;
  color: #84b131;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  font-family: "Noto Sans", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.288);
}

.button:hover {
  background-color: #335840;
}

.state {
  font-size: 22px;
  font-weight: 600;
  color: #095327;
}

.container {
  display: grid;
  gap: 2vh;
  grid-template-columns: repeat(3, minmax(120px, 18vh));
  justify-content: center;
}

.flip-card {
  width: 18vh;
  height: 18vh;
  max-width: 160px;
  max-height: 160px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner:not(.flipped) {
  transform: scale(1.05);
}

.flip-card:active .flip-card-inner:not(.flipped) {
  transform: scale(0.95);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #f8ffc9;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 50%;
  height: auto;
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frog-icon {
  width: 50px;
  height: 50px;
}

.winner {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #69ba2e;
  display: none;
}
