.container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  margin-top: 50px;
}

.flip-card img {
  height: 200px;
  width: 200px;
}

.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #e7f0ab;
  border-radius: 15px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.title,
.subtitle {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  margin-top: 20px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  color: #127439;
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #095327;
}

.frog-icon {
  width: 50px;
  height: 50px;
}

.frog1 {
  background-color: rgb(238, 118, 248);
  border-radius: 15px;
}

.frog2 {
  background-color: rgb(58, 147, 249);
  border-radius: 15px;
}

.frog3 {
  background-color: rgb(242, 186, 73);
  border-radius: 15px;
}

.frog4 {
  background-color: rgb(93, 205, 93);
  border-radius: 15px;
}

.frog5 {
  background-color: rgb(219, 120, 102);
  border-radius: 15px;
}

.frog6 {
  background-color: rgb(149, 102, 219);
  border-radius: 15px;
}
