* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e0dfefdc;
  font-family: "Noto Sans", sans-serif;
}

.container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 200px);
  justify-content: center;
  margin: 50px;
}

.flip-card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner:not(.flipped) {
  transform: scale(1.03);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-front {
  background-color: #f8ffc9;
  border-radius: 15px;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 50%;
  height: auto;
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title,
.subtitle {
  text-align: center;
  margin-top: 20px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  color: #127439;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-weight: 400;
  font-size: 20px;
  color: #095327;
}

.frog-icon {
  width: 50px;
  height: 50px;
}

.frog1 {
  background-color: rgb(238, 118, 248);
  border-radius: 15px;
}

.frog2 {
  background-color: rgb(58, 147, 249);
  border-radius: 15px;
}

.frog3 {
  background-color: rgb(242, 186, 73);
  border-radius: 15px;
}

.frog4 {
  background-color: rgb(93, 205, 93);
  border-radius: 15px;
}

.frog5 {
  background-color: rgb(219, 120, 102);
  border-radius: 15px;
}

.frog6 {
  background-color: rgb(149, 102, 219);
  border-radius: 15px;
}
