* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0e4b43;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 0.9em;
  font-weight: normal;
}

header {
  padding-top: 1em;
}

.wrap {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto;
}

.game {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2em;
}

.title,
.text, 
footer {
  text-align: center;
  margin: 10px;
}

.title {
  font-size: 35px;
}

.text {
  font-size: 20px;
  color: #3a9377;
}

a {
  color: #54b999;
  text-decoration: none;
}

a:hover {
  color: #76e7c3;
}

.controls {
  display: flex;
  align-items: center;
  margin: 0 clamp(10px, 4vw, 20px) 20px;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: flex-start;
  width: 100%;

}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0.6em 1.2em;
  background-color: #cb6812;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #fa8e35;
  transform: scale(1.05);
}

.state {
  font-size: 18px;
  color: #54b999; 
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--columns), 30%);
  justify-content: center;
  gap: 1em;
  margin: 0 auto;
}

.flip-card {
  width: 7em;
  aspect-ratio: 1 / 1;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  border-radius: 5px;
}

.flip-card:hover .flip-card-inner:not(.flipped) {
  transform: scale(1.05);
}

.flip-card:active .flip-card-inner:not(.flipped) {
  transform: scale(0.95);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.flip-card-front {
  background-color: #19996b;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 50%;
  height: auto;
}

.flip-card-back img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.frog-icon {
  width: 50px;
  height: auto;
}

footer { 
  color: #3a9377;
  padding-bottom: 1em;
}

.winner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #69ba2e;
  z-index: 1000;
}
