* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

.game {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}

.title,
.text {
  text-align: center;
  margin: 10px;
}

.title {
  font-size: 35px;
  color: #127439;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.text {
  font-size: 20px;
  color: #095327;
}

.text a {
  color: #095327;
  text-decoration: none;
}

.text a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 clamp(10px, 4vw, 20px) 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  padding: 0.6em 1.2em;
  background-color: #a3d86d;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: clamp(16px, 2vh, 20px);
  font-weight: 700;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #7cb33f;
  transform: scale(1.05);
}

.state {
  font-size: 22px;
  font-weight: 600;
  color: #095327;
  display: flex;
  gap: 15px;
}

.container {
  display: grid;
  gap: 2vh;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  justify-content: center;
  max-width: 90vw;
  margin: 0 auto;
}

.flip-card {
  width: min(18vh, 18vw, 160px);
  height: min(18vh, 18vw, 160px);
  max-width: 160px;
  max-height: 160px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow:
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 15px;
}

.flip-card:hover .flip-card-inner:not(.flipped) {
  transform: scale(1.05);
}

.flip-card:active .flip-card-inner:not(.flipped) {
  transform: scale(0.95);
}

.flip-card-inner.flipped {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.flip-card-front {
  background-color: #f8ffc9;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.flip-card-front img {
  width: 50%;
  height: auto;
}

.flip-card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.frog-icon {
  width: 50px;
  height: auto;
}

.winner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  color: #69ba2e;
  display: none;
  flex-direction: column;
  align-items: center;
}
